<td>
  <p>
    <span><%= model.good_name %></span>
    <span class="text-grey">（<%= model.number %>）</span>
  </p>
  <p>
    <span><%= model.good_type_i18n %></span>
  </p>
</td>
<td>
  <p class="text-success"><%= model.from_station&.name %></p>
  <p class="text-danger"><%= model.station&.name %></p>
</td>
<td>
  <p class="text-success">
  <% if model.from_address %>
    <span><%= model.from_address.area.full_name %></span>
    <span><%= model.from_address.detail %></span>
  <% end %>
  </p>
  <% if model.address %>
  <p class="text-danger">
    <span><%= model.address.area.full_name %></span>
    <span><%= model.address.detail %></span>
  </p>
  <% end %>
</td>
<td><%= model.produce_plan&.title %></td>
<td><%= model.status_i18n %></td>
<td>
  <div data-show-target="item" class="visibility-hidden">
    <%= link_to({ action: 'show', id: model.id }, data: { turbo_frame: 'modal' }, aria: { label: t('.show.title') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'eye', class: 'icon text-info' %>
    <% end %>
    <%= link_to({ action: 'edit', id: model.id }, data: { turbo_frame: 'modal' }, aria: { label: t('.edit.title') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'pencil', class: 'icon text-link' %>
    <% end %>
  </div>
</td>