<p class="size-7 text-grey mb-1">配置</p>
<div class="grid">
  <%= link_to({ controller: 'ship/admin/lines' }, data: { turbo_frame: 'panel', action: 'menu-popup#enter' }, class: 'cell button is-fullwidth') do %>
    <span><%= t('ship.admin.lines.index.title') %></span>
  <% end %>
  <%= link_to({ controller: 'ship/admin/stations' }, data: { turbo_frame: 'panel', action: 'menu-popup#enter' }, class: 'cell button is-fullwidth') do %>
    <span><%= t('ship.admin.stations.index.title') %></span>
  <% end %>
  <%= link_to({ controller: 'ship/admin/drivers' }, data: { turbo_frame: 'panel', action: 'menu-popup#enter' }, class: 'cell button is-fullwidth') do %>
    <span><%= t('ship.admin.drivers.index.title') %></span>
  <% end %>
  <%= link_to({ controller: 'ship/admin/cars' }, data: { turbo_frame: 'panel', action: 'menu-popup#enter' }, class: 'cell button is-fullwidth') do %>
    <span><%= t('ship.admin.cars.index.title') %></span>
  <% end %>
</div>
<p class="size-7 text-grey mb-1">发货</p>
<div class="grid">
  <%= link_to({ controller: 'ship/admin/addresses' }, data: { turbo_frame: 'panel', action: 'menu-popup#enter' }, class: active_helper(controllers: 'addresses', item: 'cell button is-fullwidth', active: 'cell button is-fullwidth is-active')) do %>
    <span><%= t('ship.admin.addresses.index.title') %></span>
  <% end %>
  <%= link_to({ controller: 'ship/admin/items' }, data: { turbo_frame: 'panel', action: 'menu-popup#enter' }, class: active_helper(controllers: 'items', item: 'cell button is-fullwidth', active: 'cell button is-fullwidth is-active')) do %>
    <span><%= t('ship.admin.items.index.title') %></span>
  <% end %>
  <%= link_to({ controller: 'ship/admin/packages' }, data: { turbo_frame: 'panel', action: 'menu-popup#enter' }, class: active_helper(controllers: 'packages', item: 'cell button is-fullwidth', active: 'cell button is-fullwidth is-active')) do %>
    <span><%= t('ship.admin.packages.index.title') %></span>
  <% end %>
  <%= link_to({ controller: 'ship/admin/ways' }, data: { turbo_frame: 'panel', action: 'menu-popup#enter' }, class: active_helper(controllers: ['ways', 'locations'], item: 'cell button is-fullwidth', active: 'cell button is-fullwidth is-active')) do %>
    <span><%= t('ship.admin.ways.index.title') %></span>
  <% end %>
</div>