<tr id="tr_<%= model[0].id %>" data-controller="show">
  <%= yield %>
  <td>
    <div data-show-target="item" class="visibility-hidden">
      <%= link_to({ action: 'show', id: model[0].id }, aria: { label: t('.show.title') }, class: 'button is-small is-borderless') do %>
        <%= svg_tag 'eye', class: 'icon text-info' %>
      <% end %>
      <%= link_to({ action: 'edit', id: model[0].id }, data: { turbo_frame: 'modal' }, class: 'button is-small is-borderless') do %>
        <%= svg_tag 'pencil', class: 'icon text-link' %>
      <% end %>
    </div>
    <div data-show-target="item" class="visibility-hidden">
      <%= link_to({ controller: 'packages', action: 'address', address_id: model[0].id }, class: 'button is-small is-borderless') do %>
        <i class="fa-solid fa-box"></i>
        <span class="ml-1"><%= t('.packages.index.title') %></span>
      <% end %>
    </div>
  </td>
</tr>
