<td>
  <p>
    <span><%= model.code %></span>
    <span class="tag"><%= model.status_i18n %></span>
  </p>
  <p class="text-grey">
  <% if model.organ %>
    <i class="fa-solid fa-building"></i>
    <span class="pl-1"><%= model.organ.name %></span>
  <% end %>
  </p>
</td>
<td>
  <% if model.rented %>
    <%= svg_tag 'check', class: 'icon is-small text-success' %>
  <% else %>
    <%= svg_tag 'xmark', class: 'icon is-small text-danger' %>
  <% end %>
</td>
<td>
  <p><%= model.held_organ&.name %></p>
  <p class="text-info"><%= model.held_user&.name %></p>
</td>
<td><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></td>
<td>
  <div data-show-target="item" class="visibility-hidden">
    <%= link_to({ controller: 'box_logs', box_id: model.id }, aria: { label: t('ship.panel.box_logs.index.title') }, class: 'button is-small is-borderless') do %>
      <i class="fa-solid fa-clock-rotate-left"></i>
      <span class="pl-1"><%= model.box_logs_count %></span>
    <% end %>
    <%= link_to({ controller: 'rents', box_id: model.id }, aria: { label: t('.rents.index.title') }, class: 'button is-small is-borderless') do %>
      <i class="fa-solid fa-face-meh text-link"></i>
    <% end %>
    <%= button_to({ action: 'show', id: model.id }, aria: { label: t('.show.title') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'circle-info', class: 'icon text-info' %>
    <% end %>
  </div>
</td>