<%= link_to({ action: 'show', id: model.id, station_id: params[:station_id] }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'eye' %>
  <span><%= t('.show.title') %></span>
<% end %>
<%= link_to({ action: 'payment_new', id: model.id, station_id: params[:station_id] }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'credit-card' %>
  <span><%= t('.payment_orders.payment_new.title') %></span>
<% end if ['init'].include?(model.state) %>
