<div>
  <dt><%= Ship::Address.human_attribute_name(:contact_person) %></dt>
  <dd>
    <%= text_field_tag 'address[contact_person]', @address.contact_person, id: nil, class: 'input', form: 'bottom-area', enterKeyHint: 'done' %>
  </dd>
</div>
<div>
  <dt><%= Ship::Address.human_attribute_name(:detail) %></dt>
  <dd>
    <%= text_area_tag 'address[detail]', @address.detail, id: nil, class: 'textarea', data: { single_input_target: 'input' }, form: 'bottom-area', enterKeyHint: 'done' %>
  </dd>
</div>
<div>
  <dt><%= Ship::Address.human_attribute_name(:area_id) %></dt>
  <dd><%= @address.area_id %></dd>
</div>
