<%= link_to({ action: 'show', id: model.id }, class: 'cell') do %>
  <%= svg_tag 'eye' %>
  <span><%= t('.show.title') %></span>
<% end %>
<%= link_to({ controller: 'line_stations', line_id: model.id }, class: 'cell') do %>
  <%= svg_tag 'location-dot' %>
  <span><%= t('.line_stations.index.title') %></span>
  <span class="pl-1"><%= model.line_stations_count %></span>
<% end %>
<%= link_to({ controller: 'shipments', line_id: model.id }, class: 'cell') do %>
  <%= svg_tag 'list' %>
  <span><%= t('ship.admin.shipments.index.title') %></span>
<% end %>
