<%= link_to({ controller: 'packages', action: 'address', address_id: model.id }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'box' %>
  <span><%= t('.packages.index.title') %></span>
<% end %>
<%= link_to({ action: 'show', id: model.id }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'eye' %>
  <span><%= t('.show.title') %></span>
<% end %>
<%= button_to({ action: 'edit', id: model.id }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'pencil' %>
  <span><%= t('.edit.title') %></span>
<% end %>
