<%= link_to({ action: 'show', id: model.id }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'eye' %>
  <span><%= t('.show.title') %></span>
<% end %>
<%= link_to({ action: 'shipments', id: model.id }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'list' %>
  <span><%= t('.stations.shipments.title') %></span>
<% end %>
<%= link_to({ action: 'lines', id: model.id }, class: 'cell has-column-centered') do %>
  <i class="fa-regular fa-signs-post"></i>
  <span><%= t('.stations.lines.title') %></span>
<% end %>
